* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 20px;
    color: purple;
}

.intro{
    padding: 20px;
    color: navy;
}

.card {
    width: 100%;
    padding: 20px;
    margin-bottom: 16px;
    color: purple;

}

footer {
    margin-top: 24px;
    padding: 20px;
    color: navy;

}

@media (min-width: 768px) {
    .card {
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top;
    }
}